# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages
- List commonly used libraries
- Show examples of evaluating arithmetic expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. Java
3. R

Some of the commonly used libraries used by Data Scientists include:
- ggplot
- pandas
- scikit

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5

17

This a simple arithmetic expression to mutiply then add integers

This will convert 200 minutes to hours by diving by 60

In [3]:
200/60

3.3333333333333335

## Author
Dimitri Sch√§fer